<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninja Gold</title>
        <style>
            .option {
                display: inline-block;
                vertical-align: top;
                border: 1px solid black;
                padding: 10px;
            }

            .earned {
                color: green;
            }

            .lost {
                color: red;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <h3>Your Gold: {{gold}}</h3>
            <div class="option">
                <h3>Farm</h3>
                <h6>(earns 10 - 20 gold)</h6>
                <form action="/process_money" method="post">
                  <input type="hidden" name="building" value="farm" />
                  <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="option">
                <h3>Cave</h3>
                <h6>(earns 5-10 gold)</h6>
                <form action="/process_money" method="post">
                  <input type="hidden" name="building" value="cave" />
                  <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="option">
                <h3>House</h3>
                <h6>(earns 2-5 gold)</h6>
                <form action="/process_money" method="post">
                  <input type="hidden" name="building" value="house" />
                  <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="option">
                <h3>Casino</h3>
                <h6>(earns/takes 0-50 gold)</h6>
                <form action="/process_money" method="post">
                  <input type="hidden" name="building" value="casino" />
                  <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="activities">
                <h3>Activities:</h3>
                {% set list1 = activity.split('\n') %}
                {% for list in list1 %}
                    {% if "Earned" in list %}
                        <p class="earned"> {{list}} </p>
                    {%else%}
                        <p class="lost"> {{list}}> </p>
                    {%endif%}
                {% endfor %}
            </div>
            <form action="/reset" method="post">
                <input type="submit" value="Reset!"/>
            </form>
        </div>
    </body>
</html>
